/*==========================
basic CSS
==========================*/

body, html {
    height: 100%;
    /* margin: 0; */
    background-color: #02000a;
}

* {
    box-sizing: border-box;
}

.nopadding {
    padding: 0 !important;
}

/* .row {
    margin: 0 !important;
} */

/*==========================
section-header
==========================*/

/*navbar*/

#navbar-1.navbar {
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    padding: 15px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

#navbar-1 .navbar-nav li a {
    color: #90436a;
    /* color: dPink; */
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

#navbar-1 .navbar-nav>.active>a, #navbar-1 .navbar-nav>.active>a:focus, #navbar-1 .navbar-nav>.active>a:hover, #navbar-1 .navbar-nav li a:hover, #navbar-1 .navbar-nav li a:focus {
    /* color: #FFFF00; */
    color: #f9fbe7;
    background: transparent;
}

#navbar-1 a.navbar-brand span {
    font-family: "Lato", sans-serif;
    color: #f9fbe7;
}

#navbar-1 a.navbar-brand span:hover {
    font-family: "Lato", sans-serif;
    color: #FFFF00;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    z-index: 4;
}

.dropdown-content a {
    color: #0575b3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .share-btn {
    text-align: center;
    cursor: pointer;
    margin: 10px 0 0 23px;
    display: inline-flex;
    /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; */
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    /* line-height: 24px; */
    /* margin-bottom: 0; */
    /* opacity: 1; */
    /* overflow: hidden;
    padding: 12px;
    position: relative; */
}

.dropdown-content>div {
    clear: left;
    float: left;
}

.dropdown-content .share-btn-svg {
    height: 35px;
    width: 35px;
}

.dropdown-content .share-btn-text {
    color: #fff;
    letter-spacing: 0.5px;
    opacity: 0;
    margin: auto;
}

.dropdown-content .share-btn:hover .share-btn-text {
    opacity: 1;
}

.dropdown-content .share-btn:hover {
    /* background-color: #3B5998; */
    width: 100px;
    border-radius: 51px 10px 10px 50px;
}

.dropdown-content .share-btn[data-network="facebook"]:hover {
    background-color: #3B5998;
}

.dropdown-content .share-btn[data-network="twitter"]:hover {
    background-color: #55acee;
}

.dropdown-content .share-btn[data-network="linkedin"]:hover {
    background-color: #069;
}

.dropdown-content .share-btn[data-network="pinterest"]:hover {
    background-color: #CB2027;
}

/* .dropdown-content .share-btn[data-network="wechat"]:hover {
 background-color: #2DC100;
} */

.dropdown-content .share-btn[data-network="tumblr"]:hover {
    background-color: #35465c;
}

/* 
.dropdown-content .share-btn[data-network="wechat"]:hover {
 background-color: #2DC100;
} */

.dropdown-content .share-btn[data-network="email"]:hover {
    background-color: #b9b9b9;
}

/* divider vertical  */

/* .navbar .divider-vertical {
    height: 20px;
    margin: 15px 9px;
    border-right: 1px solid #fdfe00;
    border-left: 1px solid #fdfe00;
} */

/* navbar heart */

.navbar-heart {
    font-size: 11px;
    color: #f9fbe7;
    margin-top: 7%;
}

/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */

/* mouse drop down icon */

.mouse-icon {
    position: fixed;
    left: 50%;
    top: 93%;
    border: 2px solid #fff;
    border-radius: 16px;
    height: 50px;
    width: 30px;
    margin-left: -17px;
    display: block;
    z-index: 10;
}

.mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    /* background: #64FFDA; */
    background: #fdfe00;
    width: 4px;
    height: 10px;
    top: 4px;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}

@keyframes drop {
    0% {
        top: 5px;
        opacity: 0;
    }
    30% {
        top: 10px;
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0;
    }
}

/*preloader*/

#preloader {
    background: radial-gradient(black 15%, #02000a 60%);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status, .loading {
    background-image: url(../img/icon/loading-circle-9-1.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: fixed;
    top: 50%;
    width: 200px;
}

.loading {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

/*.cover {
    background: transparent !important;
    height: 40em;
    width: 100%;
    z-index: 3;
}*/

/* font style */

.title h1, .year h1 {
    font-size: 5.7em;
}

.title h2, .year h2 {
    font-size: 4em;
}

#slide-a h3, #slide-b h3, #cc-2-3 h3, #cc-4-1 h3, #cc-4-3 h3, bar p, .bar .floatY {
    font-size: 1.6em;
}

.carousel-cap .floatY, .carousel-cap h3, .bg-img .floatY, .float-right, .bg-img p {
    font-size: 2em;
}

#cc-3-1, #cc-3-3, #cc-4-2 {
    font-size: 0.7em;
}


/*title*/

.header-main {
    /* position: relative;
    display: block; */
    height: 120em;
    /*img wont be covered*/
    /*width: 100%;*/
    margin: 0 auto;
    background-image: url(../img/chester.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 3;
}

.lovedonation {
    color: #FFFF00;
    height: 100%;
    width: 100%;
    background-image: url(../img/chester.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    z-index: 3;
}

#loveform {
    padding-top: 15%;
}

.title, .year {
    position: fixed;
    top: 35%;
}

.title h1 {
    /*margin: 0 auto; */
    font-family: 'Anton', sans-serif;
    /*width: 100%;*/
    /*text-align: center; */
    color: #F9FBE7;
    /*border: 1px dashed green;*/
    /*display: block;*/
    /*position: absolute;*/
    /*margin: 50% 10% 0 10%;*/
    margin: 0;
    line-height: 90%;
    /*transition: opacity 3.5s ease-in;  */
    /*opacity: 0;*/
}

.title h2 {
    /*position: absolute;*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFF00;
    /*font-weight: bolder;*/
    margin: 0;
    line-height: 85%;
    /*border: 1px dashed green;*/
}

.year span {
    display: block;
}

.year h1 {
    font-family: 'Anton', sans-serif;
    color: #F9FBE7;
    margin: 0;
    line-height: 90%;
}

.year h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFF00;
    margin: 0;
    line-height: 80%;
}

.rotate-title-fix {
    display: block;
}

.rotate-title-ro {
    display: inline-block;
}

/*#mute-1 {
     width: 2%;
     position: absolute;
margin-top: 72%;
margin-left: 115%;
}*/

#mute-1 {
    position: fixed;
    /*display: none;*/
    z-index: 999;
    bottom: 1.8em;
    right: 1.8em;
}

#mute-1 img {
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
}

/*#bg::before {
    content: "WE";
    position: absolute;
    margin: 90% 0 0 2.5%;
    border: 1px dashed green;
}*/

/*.we {
    position: absolute;
    margin: 90% 0 0 2.5%;

    border: 1px dashed green; 
}*/

/*==========================
section-early-life
==========================*/

/*title bar*/

#early-life div {
    position: relative;
    /* z-index: 3; */
}

#early-life a, #career a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
}

#rip a {
    color: gray;
    font-weight: bold;
}

#early-life a:hover, #career a:hover, #rip a:hover, #offerurhelp .iasp a:hover {
    color: #64FFDA;
}

/*bg-img style*/

.bg-img-1, .bg-img-2, .bg-img-3 {
    z-index: 1;
    /* position: relative; */
    background-attachment: fixed;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-1, .bg-img-2, .bg-img-3 {
    min-height: 1010px;
}

.bg-img-1 {
    background-image: url("../img/bg-1.jpg");
}

.bg-img-2 {
    background-image: url("../img/bg-2.jpg");
}

.bg-img-3 {
    background-image: url("../img/bg-3.jpg");
}

.floatY {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    /* color: #64FFDA; */
    /* color: #64feff; */
    /* color: #2affbc; */
    color: #d6006a;
}

.slide-a-a .floatY {
    /* color: #6c4833; */
    /* color: #b12222;  */
    /* color: #f00;  */
}

.slide-a-a h3, .slide-a-a h4 {
    color: #1e272e;
    font-weight: 600;
}

.bg-img .floatY {
    float: left;
    /*width: 0.7em; */
    /*padding: 2px; */
    margin: 34px 14px 0 0;
    line-height: 75%;
}

.float-right {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    float: right;
    line-height: 75%;
    /* color: #2affbc; */
    color: #d6006a;
}

.bg-img .float-right {
    margin: 34px 0 0 14px;
}

.bg-img p {
    font-family: "Quicksand", sans-serif;
    text-align: justify;
    margin: 0 auto;
    /* padding-top: 200px; */
    padding-top: 15%;
    color: #f7f7f7;
    /*width: 855px;*/
    width: 50%;
    line-height: 1.8;
}

.bg-img-2 p {
    padding-top: 22%;
}

.bg-img .bg-img-3-p1 {
    padding-top: 19%;
    padding-bottom: 4%;
}

.bg-img .bg-img-3-p2 {
    padding-top: 0px;
}

/*bar style*/

.bar {
    padding: 15px 70px;
}

.bar p {
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    width: 79%;
    color: #9E9E9E;
    margin: 0 auto;
    /*border: 1px solid green;*/
    line-height: 210%;
}

.bar .floatY {
    float: right;
    padding: 37px 0 0 0;
    line-height: 75%;
    color: #f7f7f7;
}

.bar-title {
    padding: 25px 70px;
    /* background-color: gray; */
    background-color: #f9fbe7;
    /* color: #050505; */
    color: #05050554;
}

.bar-4 {
    /* background-color: gray; */
    background-color: #fbe8c8;
    color: #050505;
}

.bar-title h2 {
    text-align: center;
    letter-spacing: 9px;
    font-family: "Lato", sans-serif;
}

.bar-2, .bar-3 {
    color: #ddd;
    /* background: linear-gradient(#050505, black); */
}

.bar-2, .bar-3 {
    background: #020200;
}

/*============================
section-career
=============================*/

/*prevent being covered by rip*/

#career {
    z-index: 3;
}

/*slide scrollm*/

.container-pin {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* position: relative; */
    -webkit-perspective: 1000;
    perspective: 1000;
}

.container-scrollslide {
    width: 400%;
    /* to contain 4 slides, each with 100% of window width */
    height: 100%;
}

.slide {
    height: 100%;
    width: 25%;
    /* relative to parent -> 25% of 400% = 100% of window width */
    float: left;
}

/*full screen slick*/

#career .container-slick {
    width: 100%;
}

.carousel-img {
    /* margin-left: -0.3%; */
    /* width: 100%;
    height: 100%; */
}

/*video center*/

.verti-center {
    width: 100%;
    height: 100%;
    position: absolute;
    /*left: 31%; */
    margin: 0 auto;
    /*text-align: center; */
    display: flex;
    bottom: 0;
    align-items: center;
    /*position: relative;on: absolute;*/
}

.hori-center {
    justify-content: center;
    /* align horizontal */
}

.hori-center-text {
    text-align: center;
}

.verti-center-text {
    bottom: 50%;
    position: absolute;
}

/*video position*/

.row-v-2-1 {
    bottom: -16%;
}

.row-v-2-2 {
    left: 24%;
    bottom: 23%;
}

.row-v-3-2 {
    left: 32%;
    bottom: -8%;
}

.row-v-4-1 {
    left: 23%;
    bottom: -16%;
}

.row-v-4-2 {
    left: -24%;
}

.v-1-1, .v-2-1, .v-3-1, .v-4-2 {
    width: 40%;
    height: 40%;
}

.v-2-2, .v-3-2, .v-4-1 {
    width: 30%;
    height: 30%;
}

/*wrapper pink*/

.wrapper-1 {
    height: 1vh;
    width: 50vw;
    left: 25%;
    bottom: 92%;
    position: absolute;
    text-align: justify;
}

#slide-b .btn-define {
    border: 1px solid #0fb8ad;
    color: #0fb8ad;
}

.round-pic-left {
    margin-right: 50px;
    float: left;
}

.round-pic-right {
    margin-left: 50px;
    float: right;
}

.round-text-padding {
    padding-top: 40px;
}

/*career p style*/

.carousel-cap {
    width: 30%;
    top: 10%;
    color: white;
}

.carousel-left {
    left: 2%;
    width: 24%;
}

.carousel-right {
    right: 3.7%;
}

.carousel-cap h3 {
    line-height: 1.8em;
}

.justify {
    text-align: justify;
}

.carousel-cap h3, .carousel-cap h4, .wrapper-1 h3 {
    font-family: 'Quicksand', sans-serif;
}

#cc-1-1, #cc-1-2, #cc-1-3, #cc-2-1, #cc-3-1, #cc-4-1, #cc-1-3 {
    display: table;
}

#cc-1-3, #cc-1-1, #cc-1-2, #cc-3-1, #cc-4-1, #cc-4-3 {
    border-left: 1px solid pink;
    padding-left: 20px;
}

.slick #cc-1-1 {
    left: 21%;
    width: 30%;
    top: 15%;
}

.career-1992 {
    padding-top: 5%;
    /* width: 125%; */
}

#cc-1-2 {
    /* top: 13%; */
    width: 36%;
    color: white;
}

#cc-2-1 {
    top: 22%;
    left: 30%;
    width: 40%;
    z-index: 3;
}

#cc-2-2 {
    top: 7%;
    right: 0.5%;
    width: 40%;
    text-align: right;
    color: black;
}

#cc-2-2 a, #cc-4-3 a {
    color: #F48FB1;
}

#cc-2-3 {
    top: 9%;
    width: 40%;
    left: 3%;
    z-index: 3;
    color: black;
}

#cc-2-3 a {
    color: #F48FB1;
}

.wrapper-1 {
    color: white;
}

.div-line {
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #0fb8ad 0%, #E6EE9C 35%, #C2185B 65%, #2cb5e8 85%);
}

#cc-3-1 {
    width: 60%;
    left: 20%;
    top: 5%;
    text-align: justify;
}

#cc-3-3 {
    right: 3%;
    top: 14%;
    color: black;
    z-index: 3;
}

#cc-4-1 {
    top: 15%;
    right: 5%;
}

#cc-4-2 {
    top: 5%;
    right: 12%;
    z-index: 3;
}

#cc-4-3 {
    left: 5%;
    top: 20%;
    height: 15%;
    width: 45%;
    color: black;
}

/*.gap-1 {
    height: 70px; 
}*/

/*.gap-2 {
    height: 30%;
}*/

/*slick */

#career .slick-dots {
    bottom: 96%;
}

#career .slick-dots li.slick-active button:before {
    /* color: #ff5d93 !important; */
    opacity: 1;
}

#career .slick-dots li button:before {
    font-size: 35px;
    /* content: '•'; */
    content: '\e652';
    color: #000000;
    opacity: 0.5;
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}

#career .slick-dots button:hover:before {
    color: #ff5d93 !important;
    opacity: 1;
    transform: scale(1.2);
}

/* music icon */

#career .slick-dots #slick-slide03 button:before, #career .slick-dots #slick-slide10 button:before, #career .slick-dots #slick-slide12 button:before, #career .slick-dots #slick-slide21 button:before, #career .slick-dots #slick-slide22 button:before, #career .slick-dots #slick-slide31 button:before, #career .slick-dots #slick-slide33 button:before {
    content: '\e688';
}

/* 
#career .slick-dots #slick-slide00 button:hover:before, #career .slick-dots #slick-slide01 button:hover:before, #career .slick-dots #slick-slide02 button:hover:before, #career .slick-dots #slick-slide03 button:hover:before {
    color: #4ff1c1 !important;
} */

#career .slick-dots li {
    width: 75px;
}

/*============================
section-rip
=============================*/

#rip {
    height: 130%;
    width: 100%;
    /*background-color: #02000a;*/
    /* background-color: balck; */
    background: linear-gradient(#02000a, black, black);
}

/* #rip::after {
    content: ' ';
    display: block;
    height: 200px;
    width: 100%;
    background: black;
    -webkit-transform: skewY(-3deg) translateZ(0);
    -moz-transform: skewY(-3deg) translateZ(0);
    -ms-transform: skewY(-3deg) translateZ(0);
    -o-transform: skewY(-3deg) translateZ(0);
    transform: skewY(-3deg) translateZ(0);
    position: absolute;
    bottom: -10485px;
} */

#cc-5-1 {
    margin: 0 auto;
    top: 20%;
    left: 0;
    right: 0;
    text-align: justify;
    width: 55%;
    position: fixed;
}

.chester-rip {
    position: absolute;
    left: 9%;
    margin-top: 26.5%;
}

/*==========================
section-offerurhelp
==========================*/

#offerurhelp::before {
    content: ' ';
    display: block;
    height: 200px;
    width: 100%;
    background: black;
    -webkit-transform: skewY(-3deg) translateZ(0);
    -moz-transform: skewY(-3deg) translateZ(0);
    -ms-transform: skewY(-3deg) translateZ(0);
    -o-transform: skewY(-3deg) translateZ(0);
    transform: skewY(-3deg) translateZ(0);
    position: absolute;
    margin-top: -2.6%;
    /* bottom: -10485px; */
    /* need to modify when window size is full */
}

#offerurhelp::after {
    content: ' ';
    display: block;
    height: 110px;
    width: 100%;
    background: linear-gradient(145deg, #8BC34A 12%, #1fc8db 69%, #F8BBD0 103%);
    /* background: linear-gradient(145deg, #8BC34A   5%, #1fc8db 55%, #F8BBD0  77%);  */
    /* background: linear-gradient(130deg, #8BC34A   4%, #1fc8db 57%, #F8BBD0  82%) */
    -webkit-transform: skewY(3deg) translateZ(0);
    -moz-transform: skewY(3deg) translateZ(0);
    -ms-transform: skewY(3deg) translateZ(0);
    -o-transform: skewY(3deg) translateZ(0);
    transform: skewY(3deg) translateZ(0);
    position: absolute;
    margin-top: -3%;
    overflow: hidden;
    /* bottom: -10485px; */
    /* need to modify when window size is full */
}

#offerurhelp .rain-text {
    position: absolute;
    margin-top: 28%;
    left: 10%;
    width: 80%;
}

#offerurhelp {
    /* height: 100%; */
    /* padding-top: 16px; */
    /*background-image: url(../img/chester-3-1.jpg);
    background-repeat: no-repeat;
     background-position-x: 50%;*/
}

#offerurhelp h2 {
    color: #fff;
    text-align: left;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#offerurhelp .line-1 {
    font-size: 7em;
    font-weight: 600;
    letter-spacing: -5px;
}

#offerurhelp .line-2 {
    margin-top: 0;
    line-height: 0.8;
    font-size: 6em;
    font-weight: 600;
    letter-spacing: -4px;
}

#offerurhelp .line-2 a {
    color: #fff;
}

#offerurhelp .line-2 a:hover {
    color: #F48FB1;
}

#offerurhelp .line-3 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
    text-align: right;
}

#offerurhelp hr {
    border: none;
    height: 1.9px;
    /* width: 100%;  */
    margin: 4.5em 0 0 13em;
    background: linear-gradient(90deg, red, orange, green, #2196F3, indigo, cyan, violet);
}

#offerurhelp .iasp a {
    font-size: 28px;
    /* line-height: 1.5; */
    color: #FFFF00;
    letter-spacing: 2.5px;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: right;
}

#offerurhelp .iasp {
    margin-top: -5px;
    text-align: right;
}

#offerurhelp h2 span.line-4 {
    font-weight: 300;
    font-size: 115px;
}

#hope {
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    width: 100%;
    /* height: 100%; */
}

#rain-canvas {
    /* height: 100%; */
    /* width: 100%; */
    /* background cannot auto adjust after window size changes */
}

#rain-canvas canvas {
    /* position: relative !important; */
    z-index: -1;
    display: block;
    /* remove a black line between next section */
    /* margin: 0 auto; */
    /* height: 100%; */
    width: 100%;
}

/*==========================
section-footer
==========================*/

#footer {
    /* margin-top: -0.3%;  */
    /* height: 200px; */
    position: relative;
    background: linear-gradient(145deg, #8BC34A 5%, #1fc8db 61%, #F8BBD0 95%);
    /* background: linear-gradient(145deg, #8BC34A   0%, #1fc8db 51%, #F8BBD0   75%); */
}

#footer .footertext {
    /* font-size: 20px; */
    text-transform: uppercase;
    margin-top: 2%;
    position: relative;
    /* background-color: #C2185B; */
}

/* #footer img {
    bottom: 0; 
    position: absolute; 
} */

#footer .footertext .line-1 {
    text-align: right;
    font-size: 1.7em;
    font-weight: 600;
    color: #ffffff91;
    margin-top: 6%;
}

#footer .footertext .line-2 {
    text-align: right;
    font-size: 1.7em;
    font-weight: 600;
    color: #8682826e;
    margin-top: 8.5%;
}

#footer .spaceleft {
    margin-left: 7%;
}

#footer .footer, #footer .copyrighttext {
    /* position: relative;  */
    /* wont be covered by bar */
}

#footer .copyrighttext {
    background: #141414;
    text-align: center;
    /* position: relative;  */
    /* wont be covered by bar */
}

.chester-logo {
    width: 150px;
    height: 150px;
}

.lp-logo {
    /* max-width: 45%; */
    /* margin-top: 41.1%; */
    /* margin-/top: 44.2%; */
    width: 150px;
    height: 150px;
}

#footer .copyrighttext span {
    font-size: 1.2em;
    letter-spacing: 0.1em;
    /* font-weight: 300; */
    /* color: #C9C9C9; */
    background: linear-gradient(145deg, #8BC34A 5%, #1fc8db 61%, #F8BBD0 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-family: 'Open Sans', sans-serif; */
}

#footer .copyrighttext .space {
    /* margin: 1em auto; */
    margin: 1em auto 0.5em;
}

#footer .copyrighttext a {
    /* color: #F44336; */
    color: #FFEB3B;
}

/* Copyright © 2018, scotch.io, LLC | All rights reserved */

/* All contents © Copyright 1997-2017 Sam Hill. All rights reserved. Nearly 20 years online (since 17th September 1997).  */

/*==========================
scroll back
==========================*/

.back-home {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 1.8em;
    right: 1.8em;
}

.back-home a {
    /* background-color: #757575; */
    background-color: rgba(255, 77, 200, 0.24);
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #64FFDA;
    font-size: 14px;
    line-height: 28px;
}

.back-home a:hover, .back-home a:active {
    /* background-color: rgba(100, 255, 218, .8); */
    background-color: rgba(100, 255, 218, 0.45);
    color: white;
}

/*==========================
media query
==========================*/

/* @media only screen and (min-width: 1915px) {
    #rip::after {
        bottom: -10632px;
    }
} */

/* Large Devices, Wide Screens */

/* .carousel-cap h3, .carousel-cap .floatY, .bg-img p, .bg-img .floatY, .float-right -> 2em 
.bar p, .bar .floatY -> 1.6em
.title h1, .year h1 -> 5.7em
.title h2, .year h2 -> 4em
#slide-a h3, #slide-b h3, #cc-3-3 h3, #cc-4-1 h3, #cc-4-3 h3 -> 1.6em */

@media only screen and (min-width: 1660px) {
    .carousel-img {
        width: 100%;
    }
}

@media only screen and (max-width: 1340px) {
    .title h1, .year h1 {
        font-size: 4.7em;
    }
    .title h2, .year h2 {
        font-size: 3.7em;
    }
    /* .bg-img p {
        width: 70%;
    } */
    .bar p {
        font-size: 18px;
        width: 100%;
    }
    #slide-a h3, #slide-b h3, #cc-2-3 h3, #cc-3-3 h3, #cc-4-1 h3, #cc-4-3 h3, bar p, .bar .floatY {
        font-size: 1.3em;
    }
    .carousel-cap .floatY, .carousel-cap h3, .bg-img .floatY, .float-right, .bg-img p {
        font-size: 1.6em;
    }
    .bg-img-1, .bg-img-2, .bg-img-3 {
        min-height: 790px;
    }
    #career .carousel-img {
        margin-left: -15%;
    }
    /* #career #bg-slide-1-3 {
        margin-left: 0;
    } */
    #career #bg-slide-1-4 {
        margin-left: -23%;
    }
    #career #bg-slide-2-2 {
        margin-left: -40%;
    }
    #career #bg-slide-3-2 {
        margin-left: -23%;
    }
    #career #bg-slide-3-3 {
        margin-left: -28%;
    }
    #cc-1-3 {
        left: 9%;
        top: 13%;
    }
    #cc-2-1 {
        top: 15%;
    }
    #cc-2-3 {
        top: 12%;
        left: 13%;
    }
    #cc-3-1 {
        top: 8%;
    }
    #cc-3-3 {
        font-size: 0.9em;
        top: 20%;
    }
    #cc-4-2 {
        top: 15%;
    }
    .row-v-2-1 {
        bottom: -5%;
    }
    .row-v-2-2 {
        left: 28%;
    }
    .row-padding img {
        width: 28%;
    }
    .wrapper-1 {
        bottom: 85%;
    }
    .chester-rip {
        margin: 47% 0px 0px 6%;
        width: 23%;
    }
    .svg svg {
        width: 75%;
        margin: 30% 0 0 19%;
    }
    #offerurhelp .raintext h2 {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 768px) {
    .title h1, .year h1 {
        font-size: 3.7em;
    }
    .title h2, .year h2 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 480px) {
    .title h1, .year h1 {
        font-size: 2.7em;
    }
    .title h2, .year h2 {
        font-size: 2em;
    }
    .bg-img p, .bar p {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 320px) {
    .title, .year {
        text-align: center;
    }
    .title h1, .year h1 {
        font-size: 2.5em;
    }
    .title h2, .year h2 {
        font-size: 2em;
    }
}