/*==========================
basic CSS
==========================*/

body,
html {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}


/*==========================
header
==========================*/

#header {
    position: relative;
    display: block;
    height: 140em;
    /*img wont be covered*/
    /*width: 100%;*/
    margin: 0 auto;
    background-image: url(../img/chester-ps-6.png);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title,
.year {
    position: absolute;
    margin: 35% 0 0 2.5%;
    /*background-color: red; */
    /*border: 1px dashed red;*/
}

.title h1 {
    /*margin: 0 auto; */
    font-size: 7em;
    font-family: 'Anton', sans-serif;
    /*width: 100%;*/
    /*text-align: center; */
    color: #F9FBE7;
    /*border: 1px dashed green;*/
    /*display: block;*/
    /*position: absolute;*/
    /*margin: 50% 10% 0 10%;*/
    margin: 0;
    line-height: 90%;
    /*transition: opacity 3.5s ease-in;  */
    /*opacity: 0;*/
}

.title h2 {
    /*position: absolute;*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    color: #FFFF00;
    /*font-weight: bolder;*/
    margin: 0;
    line-height: 85%;
    /*border: 1px dashed green;*/
}

#header .year {
    margin: 85% 0 0 2.5%;
}

.year span {
    display: block;
}

.year .line-1 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5em;
    color: #F9FBE7;
    margin: 0;
    line-height: 90%;
}

.year .line-2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    color: #FFFF00;
    margin: 0;
    line-height: 80%;
}

.rotate-title-fix {
    display: block;
}

.rotate-title-ro {
    display: inline-block;
}


/*#bg::before {
    content: "WE";
    position: absolute;
    margin: 90% 0 0 2.5%;
    border: 1px dashed green;
}*/


/*.we {
    position: absolute;
    margin: 90% 0 0 2.5%;

    border: 1px dashed green; 
}*/


/*==========================
early-life
==========================*/

.bg-img-1,
.bg-img-2,
.bg-img-3 {
    position: relative;
    background-attachment: fixed;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-1 {
    background-image: url("../img/bg-1.jpg");
    min-height: 750px;
}

.bg-img-2 {
    background-image: url("../img/bg-2.jpg");
    min-height: 750px;
}

.bg-img-3 {
    background-image: url("../img/bg-3.jpg");
    min-height: 750px;
}

.bar {
    padding: 40px 70px;
}

.bar p {
    font-size: 1.6em;
    width: 75%;
    color: #757575;
    margin: 0 auto;
    /*border: 1px solid green;*/
    line-height: 210%;
}

.bar .floatY {
    float: right;
    font-size: 1.5em;
    padding: 30px 0 0 120px;
    line-height: 75%;
    color: #f7f7f7;
}

.bar-title {
    padding: 25px 70px;
    background-color: gray;
    color: #050505;
}

.bar-4 {
    background-color: gray;
    color: #050505;
}

.bar-title h2 {
    text-align: center;
    letter-spacing: 9px;
    font-family: "Lato", sans-serif;
}

.bar-2,
.bar-3 {
    color: #ddd;
    background: linear-gradient(#050505, black);
}

.floatY {
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.bg-img .floatY {
    float: left;
    /*width: 0.7em; */
    font-size: 2em;
    /*padding: 2px; */
    margin: 22px 14px 0 0;
    line-height: 75%;
    color: #FFEA00;
}

.bg-img p {
    font-family: "Roboto", sans-serif;
    text-align: justify;
    margin: 0 auto;
    padding-top: 60px;
    color: #f7f7f7;
    width: 855px;
    font-size: 2em;
}

.bg-img-2 p {
    padding-top: 200px;
}

.bg-img-3 p {
    padding-top: 150px;
}

#early-life a {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #E6EE9C;
}

#early-life a:hover {
    color: #FFAB91;
}


/*============================
career
=============================*/

.container-pin {
   /* width: 100%;  */
  height: 900px;
position: relative;
   overflow: hidden; 
}

.slide {
  height: 100%;
   width: 100%;  

  position: absolute;
}

/* .slide-bgim {
    background-image: url("../img/chester-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

#slide-c-1, #slide-c-2, #slide-c-3, #slide-c-4 {
  padding: 0; 
overflow: hidden; 
max-height: 1100px; 
position: relative; 
      width: 100%;  
    /* background-color: black; */
}

.carousel-img {
    width: 100%;
    height: 700px; 
}

/*.carousel-video {
    width: 100%;
}*/



.wrapper-v {
    height: 700px; 
        background-image: url(../img/bg-slide-ps-1-4-2.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.v-1 {
    width: 760px;
    height: 412px;  
    display: block; 
    margin: 0 auto;
    /*position: relative;on: absolute;*/
}

.carousel-caption span {
    font-family: 'Lobster', cursive; 
    /*float: left;*/
    font-size: 2em;
    /*margin: 6px 8px 0 0;*/
    /*line-height: 100%;*/
    color: #FFEA00;

}

.carousel-caption h3, .carousel-caption h4 {
     text-align: justify;
     /*padding-top: 200px;
    margin-left: -300px; */
    width: 350px; 
    font-family: 'Quicksand', sans-serif;
}

#cc-2 h3 {
    width: 480px; 
    line-height: 2em; 
}

#cc-3 h3 {
    width: 430px; 
}

.carousel-caption  h3 {
font-size: 1.5em; 
line-height: 1.8em; 
}

.gap-1 {
    height: 70px; 
}

.gap-2 {
    height: 30%;
}


/* Carousel indicator */
.container-carousel .carousel-indicators {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: -0;
    left: 0;
    /*top: 0;*/
    bottom: 88%;
}

.container-carousel .carousel-indicators li {
    text-indent: initial;
    width: 15%;
    height: 5px;
    margin: 0 2% 0 0;
    border-radius: 0;
    background: black;
    border: none;
    opacity: 0.4;
}

.container-carousel .carousel-indicators li:last-child {
    margin: 0;
}

.container-carousel .carousel-indicators li.active {
    opacity: 1;
    position: relative;
}

.container-carousel .carousel-indicators li.active:after {
    content: "";
    width: 50%;
    height: 5px;
    top: 0;
    left: 0;
    position: absolute;
    background: #f38181;
}
.container-carousel .carousel-indicators li:hover{
	opacity: 1;
}

.container-carousel .indicator-inner {
    padding-top: 25px;
    text-align: left;
}

.container-carousel .indicator-inner span {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

.container-carousel .indicator-inner span.number {
    font-size: 23px;
    font-weight: 500;
    margin-right: 10px;

}

/*slick */










/*==========================
media query
==========================*/


/* Large Devices, Wide Screens */

/*@media only screen and (max-width: 2000px) {
    #header h1 {
        font-size: 6em;
    }
}

@media only screen and (max-width: 1300px) {
    .title {
        margin: 30% 0 0 0;
    }
    #header h1 {
        font-size: 5em;
    }
    #header h2 {
        font-size: 4em;
    }
}

@media only screen and (max-width: 1000px) {
    .title {
        margin: 20% 0 0 0;
    }
    #header h1 {
        font-size: 4em;
    }
    #header h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 700px) {
    #header h1 {
        font-size: 3em;
    }
}*/

@media screen and (min-width: 768px) {
#cc-1 {
    left: 2.1%;
}

#cc-2 {
    left: 69%;
}

#cc-3 {
    left: 6%; 
}

/*carousel left arrow */
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -125px !important;  
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
    margin-right: -115px !important; 
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    margin-top: -55px !important; 
}






}; 