/*==========================
basic CSS
==========================*/

body,
html {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 0 !important; 
}
/*==========================
header
==========================*/

#header {
    position: relative;
    display: block;
    height: 140em;
    /*img wont be covered*/
    /*width: 100%;*/
    margin: 0 auto;
    background-image: url(../img/chester-3-1.jpg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title,
.year {
    position: absolute;
    margin: 35% 0 0 2.5%;
    /*background-color: red; */
    /*border: 1px dashed red;*/
}

.title h1 {
    /*margin: 0 auto; */
    font-size: 7em;
    font-family: 'Anton', sans-serif;
    /*width: 100%;*/
    /*text-align: center; */
    color: #F9FBE7;
    /*border: 1px dashed green;*/
    /*display: block;*/
    /*position: absolute;*/
    /*margin: 50% 10% 0 10%;*/
    margin: 0;
    line-height: 90%;
    /*transition: opacity 3.5s ease-in;  */
    /*opacity: 0;*/
}

.title h2 {
    /*position: absolute;*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    color: #FFFF00;
    /*font-weight: bolder;*/
    margin: 0;
    line-height: 85%;
    /*border: 1px dashed green;*/
}

#header .year {
    margin: 85% 0 0 2.5%;
}

.year span {
    display: block;
}

.year .line-1 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5em;
    color: #F9FBE7;
    margin: 0;
    line-height: 90%;
}

.year .line-2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    color: #FFFF00;
    margin: 0;
    line-height: 80%;
}

.rotate-title-fix {
    display: block;
}

.rotate-title-ro {
    display: inline-block;
}

#mute-1 {
     width: 2%;
     position: absolute;
margin-top: 72%;
margin-left: 115%;
}

/*#bg::before {
    content: "WE";
    position: absolute;
    margin: 90% 0 0 2.5%;
    border: 1px dashed green;
}*/


/*.we {
    position: absolute;
    margin: 90% 0 0 2.5%;

    border: 1px dashed green; 
}*/


/*==========================
early-life
==========================*/

.bg-img-1,
.bg-img-2,
.bg-img-3 {
    position: relative;
    background-attachment: fixed;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-1 {
    background-image: url("../img/bg-1.jpg");
    min-height: 750px;
}

.bg-img-2 {
    background-image: url("../img/bg-2.jpg");
    min-height: 750px;
}

.bg-img-3 {
    background-image: url("../img/bg-3.jpg");
    min-height: 750px;
}

.bar {
    padding: 40px 70px;
}

.bar p {
    font-size: 1.6em;
    width: 75%;
    color: #757575;
    margin: 0 auto;
    /*border: 1px solid green;*/
    line-height: 210%;
}

.bar .floatY {
    float: right;
    font-size: 1.5em;
    padding: 30px 0 0 120px;
    line-height: 75%;
    color: #f7f7f7;
}

.bar-title {
    padding: 25px 70px;
    background-color: gray;
    color: #050505;
}

.bar-4 {
    background-color: gray;
    color: #050505;
}

.bar-title h2 {
    text-align: center;
    letter-spacing: 9px;
    font-family: "Lato", sans-serif;
}

.bar-2,
.bar-3 {
    color: #ddd;
    background: linear-gradient(#050505, black);
}

.floatY {
    font-family: "Lato", sans-serif;
    font-weight: 100;
        color: #FFEA00;
}

.bg-img .floatY {
    float: left;
    /*width: 0.7em; */
    font-size: 2em;
    /*padding: 2px; */
    margin: 22px 14px 0 0;
    line-height: 75%;

}

.bg-img .float-right {
    float: right;
font-size: 2em;
    margin: 22px 0 0 14px;
    line-height: 75%;
    color: #FFEA00;
}

.bg-img p {
   
    text-align: justify;
    margin: 0 auto;
    padding-top: 60px;
    color: #f7f7f7;
    width: 855px;
    font-size: 2em;
}

.bg-img-2 p {
    padding-top: 200px;
}

.bg-img-3 p {
    padding-top: 150px;
}

#early-life a {
    /*font-family: "Lato", sans-serif;
    font-weight: bold;*/
    color: #E6EE9C;
}

#early-life a:hover {
    color: #FFAB91;
}


/*============================
career
=============================*/

.container-pin {
		width: 100%;
		height: 100%;
		overflow: hidden;
        position: relative;
		-webkit-perspective: 1000;
		        perspective: 1000;
}

.container-scrollslide {
		width: 400%; /* to contain 4 slides, each with 100% of window width */
		height: 100%;
}



.slide {
		height: 100%;
		width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */
		float: left;
}

/*full screen slick*/
.container-slick {
width: 100% !important; 
}

.carousel-img {
    width: 100%;
    height: 100%; 
}

/*video center*/
.verti-center {
    width: 100%;
    height: 100%;  
    position: absolute;
    /*left: 31%; */
    margin: 0 auto;
    /*text-align: center; */
    display: flex;
        bottom: 0;
align-items: center; 
    /*position: relative;on: absolute;*/
}

.hori-center {
justify-content: center; /* align horizontal */
}

.hori-center-text {
    text-align: center; 

}

.verti-center-text {
    bottom: 50%;
    position: absolute;
}

.row-v-2-1 {
        bottom: -16%;
}

.row-v-2-2 {
    left: 27%; 
        bottom: 23%;
}

.row-v-3-2 {
    left: 32%; 
        bottom: -8%;
}

.row-v-4-1 {
    left: 23%; 
        bottom: -16%;
}

.row-v-4-2 {
    left: -24%; 
}

.v-1-1, .v-2-1, .v-3-1, .v-4-2 {
    width: 40%; 
    height: 40%;
}

.v-2-2, .v-3-2, .v-4-1 {
        width: 30%; 
    height: 30%;
}

/*wrapper*/
.wrapper-1 {
    height: 1vh; 
    width: 50vw; 
    left: 25%; 
    bottom: 92%; 
    position: absolute;
    text-align: justify;
}

.btn-define {
border: 1px solid #0fb8ad !important;
color: #0fb8ad !important; 
}

.round-pic-left {
margin-right: 50px; 
float: left; 
}

.round-pic-right {
margin-left: 50px; 
float: right; 
}

.round-text-padding {
padding-top: 40px; 
}

/*.row-padding {
     margin-right: 0 !important;
    margin-left: 0 !important;
}*/

/*.top-padding {
padding-top: inherit;
}*/

/*caption*/
.carousel-caption {
bottom: 35% !important;
}

.carousel-cap span {
    /*float: left;*/
    font-size: 2em;
    /*margin: 6px 8px 0 0;*/
    /*line-height: 100%;*/
    /*color: #FFEA00;*/

}

.justify {
      text-align: justify;
}

.carousel-cap h3, .carousel-cap h4 {
    font-family: 'Quicksand', sans-serif;
}

#cc-1-2 h3 {
    width: 480px; 
    line-height: 2em; 
    color: white; 
}

#cc-1-3 h3 {
    width: 430px; 
}

#cc-2-1 {
    left: 30%;
    bottom: 57%;
}

#cc-2-2 {
    width: 40%; 
    left: 59%; 
    text-align: right; 
    bottom: 68%; 
}

#cc-2-3 {
    width: 45%;
    left: 2%;
    bottom: 60%;
    z-index: 999;
}

#cc-2-3 h3 {
   font-size: 1.6em;
}

.div-line {
    width: 696px; 
    height: 1px; 
    background: linear-gradient(90deg, #0fb8ad 0%, #E6EE9C 35%,#C2185B 65%, #2cb5e8 85%);
}

#cc-2-1 h3 {
 
    width: 696px;
}

#cc-2-2 {
    text-align: right; 
}

.carousel-cap  h3 {
font-size: 2em; 
line-height: 1.8em; 
}

/*.gap-1 {
    height: 70px; 
}*/

/*.gap-2 {
    height: 30%;
}*/



/*slick */
.slick-dots {
    bottom: 96% !important; 
}

.slick-dots li.slick-active button:before {
    color: #64FFDA !important; 
}

.slick-dots li button:before {
    font-size: 36px !important; 
    content: '•' !important; 
    color: #F0F4C3 !important;
    opacity: 1 !important; 
}

.slick-dots li {
    width: 40px !important; 
}

.gap {
    height: 400px; 
    width: 100%;
    background-color: green;
}

/*==========================
media query
==========================*/


/* Large Devices, Wide Screens */

/*@media only screen and (max-width: 2000px) {
    #header h1 {
        font-size: 6em;
    }
}

@media only screen and (max-width: 1300px) {
    .title {
        margin: 30% 0 0 0;
    }
    #header h1 {
        font-size: 5em;
    }
    #header h2 {
        font-size: 4em;
    }
}

@media only screen and (max-width: 1000px) {
    .title {
        margin: 20% 0 0 0;
    }
    #header h1 {
        font-size: 4em;
    }
    #header h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 700px) {
    #header h1 {
        font-size: 3em;
    }
}*/

/*@media (min-width: 1200px) {
.container-slick {
width: 1910px !important; 
}
}*/



